.formulaire{
	float: right;
}
.haut{
	background-color: #D40D31;
	width: 100%;
	height: 200px;
	text-align: center;
}
.retour_haut{
	font-size: 24px;
	margin : 0px 20px 0px 20px;
	text-align: center;
}
.alphabet{
	font-size: 24px;
	margin: 0px 20px 0px 20px;
}
.titre{
	font-size: 100px;
	font-family: cursive;
	color: white;
	padding-top: 80px;
}
footer{
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
	background-color: #D40D31;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
.fab, .fas{
	color: white;
	font-size: 30px;
}
#footer {
	color : white;
	text-decoration: none;
}
a:hover{
	color: black;
}
#footer:visited{
	color:white;
}
.infos {
	color: white;
}
.reseau{
	margin-right: 15px;
}
.lien{
	margin-left: 15px;
}
/*Custom CSS du Glossaire*/
