footer{
	background-color: #D40D31;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fab {
	color: white;
	font-size: 35px;
}
a {
	color : white;
	text-decoration: none;
}
a:hover{
	color: black;
}
a:visited{
	color:white;
}
.infos {
	color: white;
}
.reseau{
	margin-right: 15px;
}
.lien{
	margin-left: 15px;
}